.left-sidebar-container {
  border: 1px solid black;
  width: 40%;
  height: 95vh;
}

@media only screen and (max-width: 1200px) {
  .left-sidebar-container {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .left-sidebar-container {
    display: none;
  }
}
