.chat-message-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1rem 0rem;
}

.user-chatmessage-container {
  justify-content: flex-end;
}

.chat-message {
  margin: 0rem 0rem 0rem 0rem;
  padding: 4px;
  /* border-radius: 10px; */
  max-width: 80%;
  font-family: Montserrat;
}

.user-chatmessage {
  background-color: #035f93;
  border-radius: 20px 20px 0px 20px;
  padding: 15px;
  align-self: right;
  font-size: 5;
  color: white;
}

.assistant-chatmessage {
  border-radius: 20px 20px 20px 0px;
  padding: 15px;
  background-color: #ece9e9;
}

.product-container {
  /* border: 1px solid red; */
  height: 280px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin: 0rem 2.5rem;
}
