.send-icon {
  color: white;
  width: 40px;
  height: 40px;
}

.cart-icon {
  color: white;
  width: 30px;
  height: 30px;
  margin: 0rem 1rem;
  cursor: pointer;
}

.chat-message-icon {
  color: rgb(19, 191, 157);
  width: 25px;
  height: 25px;
  margin: 0rem 0.5rem;
}
.help-icon {
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  /* For tablets: */
  .send-icon {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  .send-icon {
    width: 20px;
    height: 20px;
  }
}
